body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Verdana, sans-serif;
  background-color: #f9f9f9;
}

h1 {
  margin-bottom: 20px;
}

img {
  margin: 20px 0;
  border: 2px solid #ccc;
  border-radius: 8px;
}

/* Arrange buttons in a 2x2 grid */
.button-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #010408;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #767b81;
}
